body {
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, sans-serif;
	cursor: default; 
	background: black; 
	text-align: center;
	color: white;
}

img {
	cursor: default;
}

#left-column {
	float: left;
}

#right-column {
	float: left;
	margin-left: 10px;
}

#controls {
	margin-top: 20px;
	width: 220px;
}

#volume-bar {
	position: absolute; 
	left: 10px; 
	margin-top: 25px; 
}

#volume-index {
	margin-top: 25px; 
        position: absolute;
	left: 150px;
}

#song-info-section {
	width: 220px; 
	margin-top: 65px;
}

.song-info-row {
	line-height: 15px;
}

.song-right {
	border-left: 2px solid black;
}

.song-label {
	width: 35px;
	text-align: right;
	background-color: #5F5F5F;
	float: left;
	border-bottom: 2px solid black;
	padding-right: 2px;
}

.song-value {
	font-size: 9px;
	overflow: hidden;
	border-bottom: 2px solid black;
}

#song-title { 
	background-color: #B4AE00;
}

#song-artist {
	background-color: #36648B;
}

.song-info-right {
	width: 59px;
	overflow: hidden;
	white-space: nowrap;
}

.song-info {
	height: 15px;
	text-align: center;
	background: #5F5F5F;
	float: left;
}

.song-stereo {
	width: 37px; 
}

#song-stereo {
	margin-top: 1px; 
}

#search {
	width: 220px;
	margin-top: 25px;
}

#settings {
	margin-top: 20px;
	width: 220px;
}

/* songlist.css */
a { cursor:default; }
a:link { text-decoration: none; color: white; }
a:visited { text-decoration: none; color: white; }
a:active { text-decoration: none; color: #36648b; background: white; }
a:hover { text-decoration: none; color: #36648b; background: #DDDDDD; }

#dark-grey-border {
	border: 2px solid #5F5F5F; 
}

#light-grey-border {
	border: 1px solid #DDDDDD;
}

#blue-border {
	border: 3px solid #36648B;
}

/*
#mid-grey-border { padding: 2px 0px 1px 2px; background:#989898; height: 256px; }
*/
#content {
	border: 3px inset #CCCCCC;
	background-color: #36648B;
	height: 256px;
	overflow-y: scroll;
}

.uparrow { position: absolute; left: 340px; top: 33px; width: 13px; height: 14px; z-index: 50; }
.downarrow { position: absolute; left: 340px; top: 237px; width: 13px; height: 14px; z-index: 50; }
/* songlist.css */
