body { font-size: 12px; font-family: Verdana,Geneva,Arial, sans-serif; font-weight: bold; background: #000000; color: #FFFFFF }
a:link { text-decoration: none; color: #FFFFFF; }
a:active { text-decoration: none; color: #FFFFFF; }
a:visited { text-decoration: none; color: #5F5F5F; }
a:hover { text-decoration: underline; color: #36648B; }

#options {
	display: inline-block;
	width: 200px; 
        vertical-align: top;
}

#main { 
	display: inline-block;
	margin-left: 20px;
        max-width: 355px;
}

