
      body {
	      font-family: Verdana,Geneva,Arial,Times; 
	      background: black; 
	      color: white;
      }

      fieldset {
	      font-size: 14px;
	      width: 520px;
	      margin-left: auto;
      	      margin-right: auto;
      }

      legend {
	      font-size: 20px;
      }

      label.field {
	      text-align: right;
	      padding-right: 5px;
	      width: 200px;
	      float: left;
      }

      input.textbox {
	      width: 300px;
	      float: left;
      }

      fieldset p {
	      clear: both;
	      padding: 5px;
      }
