<div id="applications" ng-controller="AppCtrl">
  <form ng-submit="save()">
    <fieldset>
      <legend>Configuration Options</legend>
      <p>
        <label class="field" for="mpg123">Absolute path of mpg123:</label>
        <input type="text" ng-model="mpg123">
      </p>
      <p>
        <label class="field" for="alsamixer">Absolute path of alsamixer:</label>
        <input type="text" ng-model="alsamixer"></td>
      </p>
      <p style="text-align: right"><input type="submit" value="Save"></p>
    </fieldset>
  </form>
</div>

